body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
input {
display: inline-block;
width: 145px;
margin: 3px;
padding: 5px;
font-size: 13px;

}
div {
  background-color: dimgrey;
  ;
  padding: 3px;
}

p {
  display: inline-block;
  width: 175px;
  font-size: 15px;
  font-weight: bold;
}
input.blue {
background-color:lightsteelblue ;
}

/* input.yellow {
  background-color:white;
} */
span p {
  color: darkred;
}
.color {
  background-color: royalblue;
}
.alarm {
  background-color: red;
}
.alert {
  color: red;
}
button {
  padding: 10px;
  font-size: 16px;
  background-color: lightsalmon;
  /* color:white; */
  opacity: 80%;
  border-radius: 5px;
}
